{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h1>
            There are all my snowtrick list
        </h1><br>

        <div class="row">

            {% for tricks in tricks %}
                <div class="col-md-4">
                    <div class="card bg-light mb-3">

                        <img alt="Trick Picture" src="{{ tricks.cover}}" style="height: 200px ;
                                                                                                                                    width: 100% ; display: block">

                        <div class="card-body">


                            <h4 class="card-title">{{  tricks.name}}</h4>

                            <p class="card-text">
                                {{tricks.description | raw}}
                            </p>
                        </div>

                        {#  <a class="btn btn-primary" href="#">More details</a> #}
                    </div>


                </div>
            {% endfor %}


        </div>
    </div>
{% endblock %}
