{% extends 'base.html.twig' %}

{% block title %}
    WELCOME
{% endblock %}

{% block body %}

    <div class="container">

    <h1 class="text-info"> THOSE ALL TRICKS </h1><br><br>

        <div class='row'>
            

            

            <div class='col-md-4 text-success'>
                <div class='card bg-light mb-3'>

                    <img src="http://placehold.it/1000x400" alt="" style=" height:200px; width: 100%; display:block">

                    <div class="card-body">
                        <h4 class="card-title">
                           YES! C'EST TRANQUILEMENT TRANQUILLE
                        </h4>


                    </div>

                </div>

            </div>


            <div class='col-md-4 text-info'>
                <div class='card bg-light mb-3'>

                    <img src="http://placehold.it/1000x400" alt="" style=" height:200px; width: 100%; display:block">

                    <div class="card-body">
                        <h4 class="card-title">
                            YES MAMAN! C'EST CADEAU
                        </h4>


                    </div>

                </div>

            </div>


            <div class='col-md-4 text-success'>
                <div class='card bg-light mb-3'>

                    <img src="http://placehold.it/1000x400" alt="" style=" height:200px; width: 100%; display:block">

                    <div class="card-body">
                        <h4 class="card-title">
                           YES PAPA! C'EST CADEAU
                        </h4>


                    </div>

                </div>

            </div>


        </div>


    </div>
{% endblock %}
