{% extends 'base.html.twig' %}

{% block title %}NEW TRICK
{% endblock %}

{% block body %}

    <div class="container">

        <header class="masthead bg-primary text-white text-center " style="background-image: url(images/create.jpg)"></header><br><br>

        <i>
            <center>
                <h1>
                    Add New Trick
                </h1>
            </center>
        </i><hr><br>
        {{ form_start(form)}}

        {{ form_widget(form)}}
        <button type="submit" class="btn btn-success btn-lg">
            <i class="fas fa-save"></i>
            Save...
        </button>

        {{ form_start(form)}}

    </div>

{% endblock %}
