{% extends 'base.html.twig' %}

{% block title %}CATEGORY DETAIL
{% endblock %}

{% block body %}
    <br>
    <div class="container">


        <div class="row">
            <div class="col s12 m12">


                <h2>{{ category.name}}
                </h2><br><br><br>

                <h5>{{category.description}}</h5><br><br><br><br>

                
                <a href="{{path('category_edit',{'id':category.id})}}" type="button" class="btn btn-info">
                    <i class="fas fa-edit"></i> Edit</a>
                <a href="{{path('category_delete',{'id':category.id})}}"  type="button" class="btn btn-danger">
                    <i class="fa fa-trash-alt" ></i> Delete</a>
                

                
           


            </div>
        </div>
    </div>

{% endblock %}
