{% extends 'base.html.twig' %}

{% block title %}REGISTRAION
{% endblock %}

{% block body %}


    <div class="container mt-5">

        <div class="jumbotron" style="background-image: url(/images/3.png)">

            <p class="lead text-warning"></p>

        </div><br>

        <h1>
            Create your account
        </h1><br>

        {{ form_start(form)}}
         {{ form_widget(form)}}
         <button type ="submit" class ="btn btn-success btn-lg"><i class="fas fa-plus"></i> Create Account</button>

    </div>


{% endblock %}
